name: Reusable workflow for PRs

on:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: read

jobs:
  semgrep-placeholder:
    name: Semgrep Placeholder
    runs-on: ubuntu-22.04
    if: (github.actor != 'dependabot[bot]' && !contains(github.event.pull_request.title, 'PR Canary'))
    steps:
      - name: Print Placeholder Message
        run: echo "Semgrep Placeholder"
